header, nav {
    background-color: lightblue;
}

@media (max-width: 767px) {
    body {
        padding: 0px;
    }
}

body {
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    font-family: Arial, Verdana, sans-serif;
}

a {
    color: #005aab; // bild plava boja za linkove (svjetlija)
}

.pocetna {
    width: 99%;
    margin: auto;
}

.pocetna h1,
.pocetna h2,
.pocetna p {
    text-align: center;
}

#pocetna_frame.row-fluid {
    height: 100%;
}

#pocetna_frame.row-fluid {
    width: 99%;
    height: auto;
    float: left;
}

#iframe_yt {}

#iframe_yt iframe {
    display: block;
    width: 80%;
    margin: auto;
}
